<form action="/sumar" method="post">
  <label for="txtNum1">1er Número</label>
  <input type="text" id="txtNum1" name="txtNum1" value="{{txtNum1}}" placeholder="1er Numero" />
  <br />
  <label for="txtNum2">2do Número</label>
  <input type="text" id="txtNum2" name="txtNum2" value="{{txtNum2}}" placeholder="2do Numero" />
  <br />
  <input type="submit" value="Sumar" id="btnSubmit" name="btnSubmit"/>
</form>

<div>
  {{msg}}
</div>
